.menu-icon-beat-up {
}
.menu-icon-beat-up:hover {
  animation: mymove 5s infinite;
  animation-direction: alternate;
}

@keyframes beatUp {
  0% {
    transform: scale(1); /*开始为原始大小*/
  }
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
