.emojiSize{
    font-size: 20px;
}
.home_grass{
    background-image: url("../../assets//images/grass-confetti-2x.png") !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    font-family: "modak";
 
}
#homeFooter{
    background: #f0f2f500;
    font-size: 2.5rem;
}
#homeHeader{
   
  color: aliceblue;
  
}
.homeUlLeft{
    
    display: flex;
}
.homeUIRight{
    text-align: right;
}
.homeIconStyle{
    margin-left: 20px;
    top: 0.2rem;
    font-size: 1.8rem;
    position: relative;
    transition: all 150ms ease-in-out;
    transform: scale(1);
}
.homeIconStyle:hover{
    transition: all 150ms ease-in-out;
    transform: scale(1.3);
}

.homeUlLeft li{
    flex: content;
    list-style: none;
    width: 120px;
}

 