@mixin addArticle-thesis-selection {
  color: plum;
  background: whitesmoke;
}
.addArticle-thesis {
  font-size: 20px;
  ::-moz-selection {
    @include addArticle-thesis-selection;
  }

  ::selection {
    @include addArticle-thesis-selection;
  }
}
