.essentialWord4k{
    font-size: 1.2rem;
}

.essentialWord4k  div{ }

.essentialWord4k div span:nth-child(1){
    color: #52c41a;
    font-size: 1.2rem;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.essentialWord4k div span:nth-child(1):hover{
    color: #52c41a;
    font-size: 3rem;
    -webkit-transition: all 300ms linear;
-moz-transition: all 300ms linear;
-o-transition: all 300ms linear;
-ms-transition: all 300ms linear;
transition: all 300ms linear;
 
}
.essentialWord4k div span:nth-child(2){
    color: gray;
}
.essentialWord4k div span:nth-child(3){
    color: gray;
}

.essentialWord4k_highlight{}

.essentialWord4k_highlight s{
color: #648daf;
font-family: "modak";
font-style:normal;
text-decoration: none;
}
.essentialWord4k_highlight i{
    color: black;
    font-style:normal;
}


.essentialWord4k_h1{
    text-align: center;
    font-family: modak;
    font-size: 3rem;;
}
.essentialWord4k_container{
    width:1280px;
    margin:auto;
    display:flex;
    display: -webkit-flex;
    -webkit-flex-direction:row;

     
}

.essentialWord4k_aside{
   width: 300px;
}
.essentialWord4k_right{
    flex:1;
}

@-webkit-keyframes Scale150 /*Safari and Chrome*/
{
    0%{
    transform: scale(1); 
    }
    25%{
        transform: scale(1.3); 
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1.5);
    }
}

@media only screen and (min-width: 1px) and (max-width:1279px){
    .essentialWord4k_container{
        width:100%;
        margin:auto;
    }
    
}



/* maybe repetition in the future */

/* left panel */

.box {
    width: 15%;
    min-width: 150px;
    display: block;
    height: 50px;
    position: relative;
    border-radius: 5px;
    background: linear-gradient(to right, #abbd73 35%, #d6e2ad 100%);
    margin-bottom: 5px;
    padding: 15px 25px 0 40px;
    color: darkslategray;
    box-shadow: 1px 2px 1px -1px #777;
    transition: background 200ms ease-in-out;
    text-align:right;
    /* font-family: "modak"; */
  }
  
  .box a{color:#fff;text-decoration:none;}
  
  .shadow {
    position: relative;
  }
  .shadow:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 13px;
    right: 7px;
    width: 75%;
    top: 0;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
    transition: all 150ms ease-in-out;
  }
  
  .box:hover {
    background: linear-gradient(to right, #abbd73 0%, #abbd73 100%);
  }
  
  .shadow:hover::before {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    bottom: 20px;
    z-index: -10;
  }
  
  .circle {
    position: absolute;
    top: 14px;
    left: 15px;
    border-radius: 50%;
    box-shadow: inset -1px -1px 3px 0px rgba(0, 0, 0, 0.5), inset 0 0 0 25px #f3f3f3;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align:right;
    padding:0 20px 0 0;
  }
 

.e_span{
    width: 50px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  border-radius: 10px;
  color: white;
  text-align: center;
  border: 1px solid white;
}
 .e_noun {
  background-color: #99cc66;
  box-shadow: 2px 2px 2px 1px #99cc66;
 }
.e_adj {
  background-color: rgb(66, 174, 252);
  box-shadow: 2px 2px 2px 1px #42aefc;
}
.e_conj {
  background-color: #ff99cc;
  box-shadow: 2px 2px 2px 1px #ff99cc;
}
.e_pron {
  background-color: #6666cc;
  box-shadow: 2px 2px 2px 1px #6666cc;
}
.e_verb {
  background-color: #ff9900;
  box-shadow: 2px 2px 2px 1px #ff9900;
}
.e_adv {
  background-color: #ff6666;
  box-shadow: 2px 2px 2px 1px #ff6666;
}
.e_art {
  background-color: #006699;
  box-shadow: 2px 2px 2px 1px #006699;
}
 .e_prep{  
  background-color: #000;
  box-shadow: 2px 2px 2px 1px #000;
}