@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Righteous-Regular.ttf');
  src: local('Righteous'), local('Righteous'),
}

@font-face {
  font-family: 'Modak';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Modak-Regular.ttf');
  src: local('Modak'), local('Modak'),
}
body {
  background: rgb(23, 28, 48);
  margin: 0;
  font-family: "Righteous";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html::-webkit-scrollbar {
  width: 20px;
  /* height: 30px; */
}
html::-webkit-scrollbar-thumb {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ff8a00),
    to(#da1b60)
  );
  background: linear-gradient(to bottom,rgb(2, 23, 43), rgb(193,193,193));
  border-radius: 30px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px 2px #f1f1f1;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
html::-webkit-scrollbar-track {
  background: linear-gradient(
    to right,
    #f1f1f1,
    #f1f1f1 1px,
    #f1f1f1 1px,
    #f1f1f1
  );
}
